
@model terminarz_projekt.Models.UserModel

<h4>Zaloguj się, aby umówić się na jazdę</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazwaUżytkownika" class="control-label"></label>
                <input asp-for="NazwaUżytkownika" class="form-control" />
                <span asp-validation-for="NazwaUżytkownika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasło" class="control-label"></label>
                <input asp-for="Hasło" class="form-control"  type="password"/>
                <span asp-validation-for="Hasło" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zaloguj" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<p>Nie masz jeszcze konta? Zarejestruj się!</p>

<div class="form-group">
    <form asp-action="Register">
    <input type="submit" value="Zarejestruj się" class="btn btn-primary" />

    </form>
</div>

<div>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Powrót do strony głównej</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
