@model terminarz_projekt.Models.UserModel

<div class="text-center">
    <h1 class="display-4">Moje konto</h1>
        
        <a asp-action="Index">Wyloguj</a>

            <p>Przejdz do kalendarza aby umówić się na jazdę!</p>

<div class="form-group">
    <form asp-controller="Calendar" asp-action="Calendar">
    <input type="submit" value="Kalendarz" class="btn btn-primary" />

    </form>
</div>
</div>

