@model terminarz_projekt.Models.Osoby

<h4>Zaloguj się, aby umówić się na jazdę</h4>
<hr />
<div class="row">
    <div class="col-md-4">
<<<<<<< Updated upstream:terminarz_projekt/Views/Login/Register.cshtml
        <form asp-action="ProcessLogin">
=======
        <form asp-action="Create">
>>>>>>> Stashed changes:terminarz_projekt/Views/Register/Create.cshtml
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" type="password" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="drugie_imie" class="control-label"></label>
                <input asp-for="drugie_imie" class="form-control" type="password" />
                <span asp-validation-for="drugie_imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plec" class="control-label"></label>
                <input asp-for="plec" class="form-control" type="password" />
                <span asp-validation-for="plec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_urodzenia" class="control-label"></label>
                <input asp-for="data_urodzenia" class="form-control" type="password" />
                <span asp-validation-for="data_urodzenia" class="text-danger"></span>
                <div class="form-group">
                <label asp-for="nr_telefonu" class="control-label"></label>
                    <input asp-for="nr_telefonu" class="form-control" type="password" />
                    <span asp-validation-for="nr_telefonu" class="text-danger"></span>
                <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" type="password" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasło" class="control-label"></label>
                <input asp-for="Hasło" class="form-control" />
                <span asp-validation-for="Hasło" class="text-danger"></span>

            </div>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zaloguj" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Powrót do strony głównej</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
