@model terminarz_projekt.Models.Osoby

<div class="text-center">
    <h1 class="display-4">Moje konto</h1>
        
<div class="btn">
    <form asp-controller="Calendar" asp-action="Index">
            <input type="submit" value="Przejdź do terminarza, aby zarezerwować termin" class="btn btn-success" />
    </form>
</div>
    <a asp-action="LoginPanel">Wyloguj</a>
</div>


