@using static terminarz_projekt.Controllers.CalendarController


<div class ="text-center">
    <h4>Zła data lub typ zajęć!</h4>
    <p>Spróbuj jeszcze raz</p>
</div>

<div>
    <a asp-controller="Calendar" asp-action="Index">Wróć do kalendarza</a>
</div>