@using static terminarz_projekt.Controllers.CalendarController
@model terminarz_projekt.Models.CalendarModel

<div class="text-center">
    <h4>jest git!</h4>
</div>

<div>
    <a asp-controller="Calendar" asp-action="Index">Wróć do kalendarza</a>
    </div>
